@charset "UTF-8";

/***************************
 * 게시판 관련 페이지에서만 사용(리스트, 등록폼, 수정폼, 읽기)
***************************/


/* 검색 */
#main-search ol{
    float: right;
    margin: 13px 0px 4px 0px;
}

#main-search ol>li{
    margin-left: 4px;
    padding: 4px 10px;
    float: left;
    border-radius: 3px;
    border: 1px solid #a6a6a6;
}

#main-search ol>li:nth-child(2){
    background-color: #dddddd;
}
/* /검색 */


/* 리스트 */
#main-list thead>tr{
    max-width: 800px;
    height: 40px;
    border-top: 3px solid #a6a6a6;
    border-bottom: 3px solid #a6a6a6;
    background-color: #dddddd;
}

#main-list tbody>tr{
    text-align: center;
    height: 40px;
    border-bottom: 1px solid #a6a6a6;
}

#main-list tbody>tr>td:nth-child(2){
    text-align: left;
}

#main-list tbody>tr:hover{
    background-color: #f1f5f8;
}

#main-pagebtn ol{
    padding: 10px 228px;
}

#main-pagebtn ol>li{
    float: left;
    text-align: center;
    margin: 0px;
    width: 27px;
}
/* /리스트 */


/* 등록폼 */
#main-write{
    float: right;
    padding: 5px 12px 5px 12px;
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid #a6a6a6;
    background-color: #dddddd;
}
/* /등록폼 */


/* 일반게시판 */
#main-info{
    padding: 18px 0 8px 0px;
    border-bottom: 1px solid #a6a6a6;
}

#main-info ul>li{
    text-align: left;
    margin-bottom: 8px;
}

#main-info .first{
    float: left;
}

#main-info .second{
    float: left;
    font-weight: bold;
    margin-left: 27px;
}

#main-text{
    padding: 10px 0px 9px 10px;
    border-bottom: 1px solid #a6a6a6;
}

#main-btn ul{
    float: right;
    padding: 8px 0px 5px 0px;
}

#main-btn ul>li{
    float: left;
    margin-left: 7px;
    padding: 5px 17px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    background-color: #dddddd;
}
/* /일반게시판 */


/* 게시판 글작성 */
#main #main-write-title{
    padding: 15px 0px 10px 0px;
}

#main #main-write-title>label{
    display: inline-block;
    text-align: left;   
}

#main #main-write-title>input[type="text"]{
    margin-left: 30px;
    width: 737px;
    height: 22px;
}

#main div>textarea{
    width: 798px;
    height: 380px;
    overflow: auto;    
}

#main #main-write-btn ol{
    float: right;
    padding-top: 4px;
}

#main #main-write-btn ol>li{
    float: left;
    margin-left: 7px;
    padding: 5px 17px;
    background-color: #dddddd;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}
/* 게시판 글작성 */


/* 갤러리 */
/* 이미지올리기 */
.img-btn{
    float: right;
    padding: 7px 5px;
    margin: 10px 0px 12px 0px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    background-color: #dddddd;
}
/* /이미지올리기 */

#main .img li{
    float: left;
    padding: 0px 3px 0px 3px;
    margin: 0px 4px 5px 0px;
    border: 1px solid #a6a6a6;
}

#main #main-gallery li>img{
    width: 189px;
}

#main .img li:last-child{
    margin-right: 0px;
}

#main .img li>div{
    padding: 3px 0px 2px 0px;
    font-weight: bold;    
}
/* /갤러리 */


/* 일반방명록 */
#guest-write{
    margin: 14px 0px 30px 0px;
}

#guest-write-info tr td{
    padding-left: 4px;
    height: 35px;
    text-align: left;
    border: 1px solid #a6a6a6;
    border-radius: 3px 3px 0px 0px
}

#guest-write-info tr td input[type="text"],
#guest-write-info tr td input[type="password"]{
    width: 315px;
    height: 24px;
}

#guest-write-txt{
    padding: 4px 4px 2px 4px;
    border: 1px solid #a6a6a6;
    border-top: none;
}

#guest-write-txt>textarea{
    width: 787px;
    height: 140px;
    overflow: auto;
}

#guest-write-btn{
    padding: 9px 352px;
    border: 1px solid #a6a6a6;
    border-top: none;
}

#guest-write #guest-write-btn span{
    padding: 4px 33px;
    text-align: center;
    background-color: #dddddd;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}

#main .guest-memory{
    margin-top: 10px;
}

#main .guest-memory tr>td{
    padding: 10px 0px 10px 9px;
    text-align: left;
    border: 1px solid #a6a6a6;
}
/* /일반방명록 */


