@charset "UTF-8";


body, div, ul, li, dl, dt, ol, 
h1, h2, h3, h4, h5, h6, input, fieldset, 
legend, p, select, textarea, 
button, form{
    padding: 0px;
    margin: 0px;
}

/*클리어픽스*/
.clearfix::before, .clearfix::after {
    display: block;
    content: ""; line-height: 0;
}

.clearfix::after{
    clear: both;
}

body{
    background-color: #808080;
    font-family: "맑은 고딕";
    font-size: 12px;
}

.wrap{
    background-color: #ffffff;
    width: 600px;
}

.wrap h3{
    font-size: 18px;
    font-weight: bold;
}

input, select, textarea{
    font-family: "맑은 고딕";
    font-size: 15px;
}

/*공통*/
.form-group{
    border-bottom: 1px solid #000000;
    padding: 10px 0px;
}

.form-title{
    display: inline-block;
    width: 120px;
    text-align: center;
    vertical-align: top;
}
/*//공통*/


/*경로표시*/
.wrap ol{
    list-style-type: none;
    margin: 10px 0px;
}

.wrap ol>li{
    float: left;
}

.wrap ol li::after{
    content: ">";
    padding: 0px 5px 0px 5px;
}

.wrap ol li:last-child::after{
    content: "";
}



/*주소*/
.txt-ad{
    width: 340px;
    margin: 3px 0px 0px 124px;
}
/*//주소*/

/*나이, 혈액형, 취미*/
.form-group>.rdo-label, 
.form-group>.chk-label{
    font-family: "맑은 고딕";
    font-size: 15px;
}

.form-group .rdo-label input,
.form-group .chk-label input{
    margin-right: 10px;
}

/*자기소개*/
.form-group textarea{
    width: 340px;
    height: 100px;
    overflow-y: auto;
}

/*버튼*/
.btn-group{
    padding: 10px 0px;
    text-align: center;
}

.btn-group button{
    width: 120px;
}

